# Dependencies
node_modules/
**/node_modules/

# Next.js build
.next/
**/.next/
out/
build/
dist/

# OS Files
.DS_Store
**/.DS_Store
Thumbs.db

# Environment variables
.env*.local
.env
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel & TypeScript
.vercel
*.tsbuildinfo
